dt{
  margin-top:15px;
}


@media screen and (min-width: 601px) {
  dt {
    font-size: 30px;
  }
}
@media screen and (max-width: 600px) {
  dt {
    font-size: 15px;
  }
  dt.faq {
    font-size:10px;
  }
}

@media screen and (min-width: 601px) {
  dd {
    font-size: 20px;
  }
}
@media screen and (max-width: 600px) {
  dd {
    font-size: 8px;
  }
}

.faq a{
  color: var(--blue);
}
.faq a:hover{
  color:var(--darkblue);
}




