.formContent {
    max-width: 500px;
    border-radius: 4px;
    border: 1px solid var(--grey);
    box-shadow: var(--shadow);
}

.register {
    color: var(--blue);
}

.register:hover {
    color: var(--darkblue);
}

input:focus {
    color: var(--blue) !important;
    border-color: var(--green) !important;
    outline: none !important;
    box-shadow:none !important;
}