.nav .nav-item .nav-link {
	border-bottom: 3px solid var(--grey);
	text-transform: uppercase;
}

.nav .nav-item .nav-link.active {
	border-color: var(--green);
}

.nav .nav-item > a {
	color: var(--grey);
}

.nav .nav-item > a.active {
	font-weight: bold;
	color: var(--green);
}

.card {
	overflow: hidden;
}

.card-wrapper {
	max-width: 960px;
	padding: 0;
}

.card-header {
	font-weight: bold;
	font-size: 1rem;
}

.carousel-item {
	max-height: 360px;
}

.artists-wrapper {
	overflow-x: auto; 
	flex-wrap: nowrap;
}

.badge {
	font-size: 85%;
}

.badge-primary {
	background-color: var(--blue);
}

.badge-secondary {
	background-color: var(--green);
}

.submit-btn {
	background-color: transparent;
	border: 0;
	bottom: 0.1em;
	right: 0;
	/* height: 100%; */
	color: var(--grey);
}

.submit-btn:hover {
	color: var(--green);
}

.comment {
	box-sizing: border-box;
}

.comment-text {
	background-color: #eff1f3;
	border-radius: 4px;
}

.author {
	font-weight: bold;
}