.nav .nav-item .nav-link {
	border-bottom: 3px solid var(--grey);
	text-transform: uppercase;
}

.nav .nav-item .nav-link.active {
	border-color: var(--darkblue);
}

.card {
	overflow: hidden;
}

.card-wrapper {
	max-width: 960px;
}

.card-header {
	font-weight: bold;
	font-size: 1rem;
}

.carousel-item {
	max-height: 360px;
}

.artists-wrapper {
	overflow-x: auto; 
	flex-wrap: nowrap;
}