:root {
	--white: #fffefc;
	--grey: #dedede;
	--darkgrey: #8E8E8E;
	--green: #7ee081;
	--darkgreen: #5ca35e;
	--blue: #002047;
	--darkblue: #000022;
	--shadow: 0 0 20px rgba(27,39,51,.3);
	--orange: #f79156;
	--darkorange: #e1844f;
}

body {
	background-color: var(--white);
	font-family: 'Karla', sans-serif;
	outline-color: rgba(0, 0, 0, 0.2);
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Rubik', sans-serif;
}

.bg-light{
	background-color: var(--white)!important; 
}

.btn-primary, .btn-primary:focus {
	background-color: var(--blue);
	border-color: var(--blue);
}

.btn-primary:hover, .btn-primary:active {
	background-color: var(--darkblue)!important;
	border-color: var(--darkblue)!important;
}

.btn-secondary, .btn-secondary:focus {
	background-color: var(--green);
	border-color: var(--green);
}

.btn-danger, .btn-danger:focus {
	background-color: var(--orange);
	border-color: var(--orange);
}

.btn-danger:hover, .btn-danger:active {
	background-color: var(--darkorange)!important;
	border-color: var(--darkorange)!important;
}

.btn-secondary:hover, .btn-secondary:active {
	background-color: var(--darkgreen)!important;
	border-color: var(--darkgreen)!important;
}

.btn-outline-primary, .btn-outline-primary:focus {
	border-color: var(--blue);
	color: var(--blue);
}

.btn-outline-primary:hover, .btn-outline-primary:active {
	border-color: var(--blue);
	background-color: var(--blue);
	color: var(--white);
}

.btn-outline-secondary, .btn-outline-secondary:focus {
	border-color: var(--green);
	color: var(--green);
}

.btn-outline-secondary:hover, .btn-outline-secondary:active {
	border-color: var(--green);
	background-color: var(--green);
	color: var(--white);
}

.dropdown-menu-right {
	background-color: var(--white);
}

.dropdown-item:active {
	background-color: var(--blue);
}

.border-light {
	border-color: var(--grey)!important;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: var(--darkblue);
}

.navbar {
	border: 1px solid var(--grey);
}