a {
  color: var(--blue);
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
}



/* STRUCTURE */

/* STRUCTURE */


a {
  color: var(--blue);
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
}
@media screen and (min-width: 601px) {
  .formCard {
    padding:30px;
  }
  #formContent{
    padding:50px;
  }
}
@media screen and (max-width: 600px) {
 .formCard{
   padding:70px;
 }
 #formContent{
   padding:22px;
 }
}

#formContent {
  background: var(--white);
  max-width: 400px;
  position: relative;
  text-align: center;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid var(--grey);
  box-shadow: var(--shadow);
  
}

#formFooter {
  background-color: var(--white);
  border-top: 10px solid var(--white) ;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}



/* FORM TYPOGRAPHY*/

#logo{
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
 
}



input[name=register][type=text]:focus,input[name=register][type=email]:focus {
  background-color: #fff;
  border-color: 2px solid var(--darkblue);
}

input[name=register][type=text]:placeholder, input[name=register][type=email]:placeholder{
  color: var(--white);
}
input[name=register][type=text], input[name=register][type=email]{
  background-color: var(--white);
  color: var(--darkblue);
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 253px;
  border: 2px solid var(--grey);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

.login:hover{
  color: var(--darkblue);
  text-decoration: none;
}
button[name=register]{
  margin-top: 5px;
  width: 253px;
}


