.navbar {
    background-color: transparent !important;
}

.banner-container {
    height: calc(100vh);
    position: relative;
    top: -66px;
    background-image: url('../assets/search-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-container .search-card {
    background-color: var(--white);
    box-shadow: 0 0 40px rgba(27,39,51,1);
    border-radius: 0.25rem;
}

#results-container {
    min-height: calc(100vh - 114px);
}

.event-card {
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid var(--grey);
    transition: box-shadow 0.2s ease-in-out;
}

.event-card:hover {
    box-shadow: var(--shadow);
}

.event-card .event-header {
    height: 150px;
    overflow: hidden;
}

.event-card .event-header .gradient-overlay {
    background: rgba(0,0,0,0.2);
    top: 0;
}

.event-card .event-header .event-title {
    bottom: 0;
    color: var(--white);
}

.dropdown .dropdown-menu .dropdown-title {
    padding-bottom: 5px;
    border-bottom: 1px solid var(--grey);
}