

body {
	background-color: #ffffff;
	font-family: 'Karla', sans-serif;
	color: #000022;
	outline-color: rgba(0, 0, 0, 0.2);
}

a {
	color: inherit;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Rubik', sans-serif;
}

.bg-light{
	background-color: #ffffff!important; 
}

.btn-primary, .btn-primary:focus {
	background-color: #002047;
	border-color: #002047;
}

.btn-primary:hover, .btn-primary:active {
	background-color: #000022!important;
	border-color: #000022!important;
}

.btn-outline-primary, .btn-outline-primary:focus {
	border-color: #002047;
	color: #002047;
}

.btn-outline-primary:hover, .btn-outline-primary:active {
	border-color: #002047!important;
	background-color: #002047!important;
	color: #ffffff!important;
}

.btn-secondary, .btn-secondary:focus {
	background-color: #7ee081;
	border-color: #7ee081;
}

.btn-secondary:hover, .btn-secondary:active {
	background-color: #5ca35e!important;
	border-color: #5ca35e!important;
}

.btn-outline-secondary, .btn-outline-secondary:focus {
	border-color: #7ee081;
	color: #7ee081;
}

.btn-outline-secondary:hover, .btn-outline-secondary:active {
	border-color: #7ee081!important;
	background-color: #7ee081!important;
	color: #ffffff!important;
}

.btn-danger, .btn-danger:focus {
	background-color: #f79156;
	border-color: #f79156;
}

.btn-danger:hover, .btn-danger:active {
	background-color: #e1844f!important;
	border-color: #e1844f!important;
}

.btn-light {
	background-color: white;
	border-color: white;
}

.btn-light:hover {
	background-color: #F2F3F5;
	border-color: #F2F3F5;
}

.btn-info {
	background-color: #dedede;
	color: #000022;
	border: #dedede;
}

.btn-info:hover, .btn-info:active {
	background-color: #8E8E8E!important;
	border-color: #8E8E8E!important;

}

.banned-alert {
	background-color: #f79156;
	border-color: #f79156;
	color: #ffffff
}

.dropdown-menu-right {
	background-color: #ffffff;
}

.dropdown-item:active {
	background-color: #002047;
}

.border-light {
	border-color: #dedede!important;
}

.border-navbar {
	border-bottom: 1px solid #dedede;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #000022;
}

.hover-shadow {
    border: 1px solid #dedede;
    transition: box-shadow 0.2s ease-in-out;
}

.hover-shadow:hover, .hover-shadow:focus {
    box-shadow:  0 0 20px rgba(27,39,51,.3);
}

.title-link {
	color: #002047;
	text-decoration: none;
}

.title-link:hover {
	text-decoration: underline;
	color: #000022;
}

nav .navbar-toggler {
    border-color: transparent !important;
}

nav {
    height: 67px;
}

@media screen and (max-width: 991px) {
    nav .dropdown-menu {
        border: none;
    }

    nav {
        height: auto;
    }
}

input:focus, textarea:focus {
    color: #002047 !important;
    border-color: #7ee081 !important;
    outline: none !important;
    box-shadow:none !important;
}

.footer {
    height: 50px;
    border-top: 1px solid #dedede;
}

.footer a {
    color: #002047;
}

.footer .logo-area {
    padding: 12px;
}

.nav .nav-item .nav-link {
	border-bottom: 3px solid #dedede;
	text-transform: uppercase;
}

.nav .nav-item .nav-link.active {
	border-color: #7ee081;
}

.nav .nav-item > a {
	color: #dedede;
}

.nav .nav-item > a.active {
	font-weight: bold;
	color: #7ee081;
}

.error {
	padding-left: 0.8em;
	font-size: 0.8em;
	color: #f79156;
}

.success {
    padding-left: 0.8em;
	font-size: 0.8em;
	color: #7ee081;
}

.navbar .invite-badge {
	width: 12px;
	height: 12px;
	top: 10%;
	left: 10%;
	background-color: #f79156;
	border-radius: 100%;
}

.navbar button.navbar-toggler .invite-badge {
	top: 12%;
	left: 18%;
}

.navbar button.navbar-toggler:not(.collapsed) ~ * .invite-badge {
	display: none;
}

/* about */
.faq-wrapper {
	background-color: #f9f9f9;
  }
  
  .list-group-item {
	background-color: inherit;
  }
  
  .faq-wrapper a{
	color: #002047;
  }
  .faq-wrapper a:hover{
	color:#000022;
  }
  
  #logo-card {
	width: 18em;
  }
  
  #faq-card {
	width: 20em;
  }
  
  .contact-title {
	text-transform: uppercase;
	}
	
	/* auth */
	.formContent {
    max-width: 500px;
    border-radius: 4px;
    border: 1px solid #dedede;
    box-shadow:  0 0 20px rgba(27,39,51,.3);
}

.register {
    color: #002047;
}

.register:hover {
    color: #000022;
}

.error {
	padding-left: 0.8em;
	font-size: 0.8em;
	color: #f79156;
}

.success {
    padding-left: 0.8em;
	font-size: 0.8em;
	color: #7ee081;
}


/* event card */

.event-card {
	border-radius: 4px;
	overflow: hidden;
}

.event-card .event-header {
	height: 150px;
	overflow: hidden;
}

.event-card .event-header .gradient-overlay {
	background: rgba(0,0,0,0.3);
	top: 0;
}

.event-card .event-header .event-title {
	bottom: 0;
	color: #ffffff;
}

.activity-event-card {
	border-radius: 4px;
	overflow: hidden;
	height: 175px;
}

.activity-event-card .event-title {
	max-height: 2em;
	line-height: 1em;
	overflow: hidden;
	text-overflow: ellipsis;
}

@media screen and (max-width: 767px) {
	.activity-event-card {
			height: 110px;
	}

	.activity-event-card .event-title {
			font-size: 0.9em;
	}

	.activity-event-card .event-date {
			font-size: 0.6em;
	}

	.activity-event-card .event-location {
			font-size: 0.6em;
	}

	.activity-event-card .join-btn {
			font-size: 0.6em;
	}
}

.activity-event-card .event-link {
	color: #002047;
}

.activity-event-card .event-link:hover {
	text-decoration: underline;
	color: #000022;
}


/*event post*/

.badge {
	font-size: 85%;
}

.badge-primary {
	background-color: #002047;
}

a.badge-primary:hover {
	background-color: #000022;
}

.badge-secondary {
	background-color: #7ee081;
}

a.badge-secondary:hover {
	background-color: #5ca35e;
}

.submit-btn-wrapper {
	bottom: 0;
	right: 0;
	height: 100%;
}

.submit-btn {
	background-color: transparent;
	border: 0;
	color: #dedede;
	vertical-align: middle;
}

.submit-btn:hover {
	color: #7ee081;
}

.comment {
	box-sizing: border-box;
}

.comment-text {
	background-color: #eff1f3;
	border-radius: 4px;
}

.author {
	font-weight: bold;
	white-space: nowrap;
}

.post-date {
	font-size: 85%;
}

.comment-footer {
	font-size: 80%;
}

.comment-footer a {
	color: #5C7189;
}

.comment-footer a:hover {
	color: #173457;
}


/* event */
#content {
	max-width: 960px!important;
}

.card {
	overflow: hidden;
}

.card-wrapper {
	padding: 0;
}

.event-page .card-header {
	font-weight: bold;
	font-size: 1rem;
}

.artists-wrapper {
	overflow-x: hidden; 
	flex-wrap: nowrap;
}
.event-addr {
	color: #5C7189;
	font-size: 85%;
}

.event-addr:hover {
	color: #173457;
}

.step {
	width: 100%;
	height: 2rem;
	background-color: #ffffff;
	z-index: 5;
	border: 1px solid #7ee081;
	font-weight: bold;
}

.complete {
	background-color: #7ee081;
	color: #ffffff;
	border-color: #7ee081;
}

.complete:last-of-type {
	transform: scale(1.15);
	transition: transform 0.3s ease-in-out;
}

.step-wrapper {
	width: 2rem;
	overflow: visible;
	white-space: nowrap;
}

.progress {
	display: none;
	top: calc(1rem - 2px);
	height: 4px;
	width: 100%;
}

input[type="radio"]:checked + .progress {
	display: block;
}

input[type="radio"]:checked + .progress + .step-wrapper > label {
	background-color: #7ee081;
	color: #ffffff;
	border-color: #7ee081;
}

input[type="radio"]:checked + .progress + .step-wrapper > label + span {
	color: #7ee081;
}

.progress-1 {
	display: block;
	background: linear-gradient(to right, #7ee081 1rem, #dedede 1rem);
}

.progress-2 {
	display: block;
	background: linear-gradient(to right, #7ee081 50%, #dedede 50%);
}

.progress-3 {
	display: block;
	background: linear-gradient(to right, #7ee081 calc(100% - 1rem), #dedede calc(100% - 1rem) );
}

.progress-4 {
	display: block;
	background: linear-gradient(to right, #7ee081 calc(100%), #dedede calc(100%) );
}

.event-page .more-button {
	z-index: 1;
	right: 1rem;
	top: 1rem;
}

.more-button > .btn {
	opacity: 0.8;
}

.event-page .artists-wrapper a {
	color: #002047;
}

.artists-wrapper a:hover {
	color: #000022;
}

.qa-question {
	color: #000022;
	white-space: normal;
}

.qa-question:hover {
	color: #173457;
}

.view-all {
	color: #5C7189;
}

.view-all:hover {
	color: #173457;
}

.img-container {
	max-height: 360px;
}

.event-page .event-btns > button, .event-form-page .event-btns > button {
	opacity: 0.8;
	vertical-align: middle;
	text-decoration: none;
}

.event-page .event-btns, .event-form-page .event-btns {
	z-index: 1;
	right: 1rem;
	bottom: 1rem;
}

.event-page .post-type input[type="radio"] + label {
	padding: 0.2em 0.3em;
	border-radius: 4px;
}

.post-type input[type="radio"] + label:hover {
	background-color: #dedede;
}

.post-type input[type="radio"]:checked + label {
	background-color: #dedede;
}

.event-page .user-row {
	min-height: 58px;
}

.event-page .user-row input[type="radio"] + label {
	color: #dedede;
	cursor: pointer;
	display: inline-flex;
	margin-bottom: 0;
}

.event-page .user-row input[type="radio"]:checked + label {
	font-weight: bold;
	color: #7ee081;
	border: 1px solid #dedede;
	border-bottom: 0px;
}

.event-page .user-row form label {
	border-radius: 5px 5px 0px 0px;
	border-color: #dedede;
	border-bottom: 1px solid;
}

.event-page .user-row .right-wrapper > div {
	min-width: 106px;
}

.event-page #invite-list {
	min-height: 40vh;
}

.event-page .poll-option-close-btn {
	width: 25px;
    height: 25px;
    padding: 4px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
	background-color: var(--grey);
	color: var(--darkgrey);
	opacity: 0.4;
	cursor: pointer;
	top: 7px;
}

.event-page .poll-option-close-btn:hover {
	opacity: 0.7;
}

/** event form **/

.event-form-page .input-group-text, .event-page .input-group-text {
	background-color: #002047;
	border-color: #002047;
	color: white;
	font-size: 1em;
}

.border-blue {
	border-color: #002047;
}

.priceSelect .input-group-text{
	background-color: #7ee081;
	border-color: #7ee081;
	color: white;
	font-size: 1em;
}

select.currency {
	/* background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='white' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px; */
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-color: #7ee081;
}


input#priceSelect {
	border-color: #7ee081;
	border-radius: 0;
}

input[type="datetime-local"].custom-select, input[type="number"].custom-select {
	background: none;
	padding-right: .75rem;
}

.event-form-page label[for="photo"] {
	cursor: pointer;
}


.event-form-page .step {
	width: 100%;
	height: 2rem;
	background-color: var(--white);
	z-index: 5;
	border: 1px solid var(--green);
	font-weight: bold;
	cursor: pointer;
}

.event-form-page .step-wrapper {
	width: 2rem;
	overflow: visible;
	white-space: nowrap;
}

.event-form-page .progress {
	display: none;
	top: calc(1rem - 2px);
	height: 4px;
	width: 100%;
}

.event-form-page input[type="radio"]:checked + .progress + .step-wrapper > label {
	transform: scale(1.15);
	transition: transform 0.3s ease-in-out;
}

.event-form-page #step-1 + .progress {
	display: block;
}

.event-form-page #step-1 + .progress + .step-wrapper > label {
	background-color: var(--green);
	color: var(--white);
	border-color: var(--green);
}

.event-form-page #step-1 + .progress + .step-wrapper > label + span {
	color: var(--green);
}

.event-form-page #step-2:checked + .progress {
	display: block;
}

.event-form-page #step-2:checked + .progress + .step-wrapper > label {
	background-color: var(--green);
	color: var(--white);
	border-color: var(--green);
}

.event-form-page #step-2:checked + .progress + .step-wrapper > label + span {
	color: var(--green);
}

.event-form-page .progress-1 {
	background: linear-gradient(to right, var(--green) 5rem, var(--grey) 5rem);
}

.event-form-page .progress-2 {
	background: linear-gradient(to right, var(--green) 50%, var(--grey) 50%);
}

.event-form-page .progress-3 {
	background: linear-gradient(to right, var(--green) calc(100% - 5rem), var(--grey) calc(100% - 5rem) );
}

.event-form-page #date-toggle {
	border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.event-form-page .dropup .dropdown-menu-right {
	background-color: transparent;
	border: none;
}

.event-form-page .help-btn {
	z-index: 1;
	right: 1rem;
	top: 1rem;
	opacity: 0.8;
}

.event-form-page .help-text {
	display: none;
	max-width: 0px;
}

.event-form-page .help-btn:hover .help-text {
	display: inline-block;
	max-width: none;
}

.event-form-page ol {
	list-style: none;
	counter-reset: help-counter;
	padding-inline-start: 0px;
  }
  .event-form-page ol li {
	counter-increment: help-counter;
  }
  .event-form-page ol li::before {
	content: counter(help-counter) ". ";
	font-weight: bold;
	font-size: 1.2em;
  }
  


/* home */

.home-page .link {
	text-decoration: none;
	color: inherit;
	display: block;
}

.home-page .link:focus, .link:hover, .link:active {
	text-decoration: none;
	color: inherit;
}

.home-page .card {
	overflow: hidden;
}

.home-page .card-wrapper {
    max-width: 720px;
}

.home-page .home-page .card-header {
    font-weight: bold;
    font-size: 1rem;
}

.home-page .post-card-header {
	height: 75px;
	background-color: rgba(0,0,0,.03);
}

.home-page .post-card-header a {
	color: var(--blue);
}

.home-page .user-tag {
	color: var(--green);
}

.home-page .user-tag:hover {
	color: var(--darkgreen);
}

@media screen and (max-width: 767px) {
	.home-page .post-card-header {
        height: 50px;
	}

	.home-page .post-card-header .event-title {
        font-size: 0.9em;
	}
}

@media screen and (max-width: 576px) {
	.home-page .post-card-header {
        height: 40px;
	}

	.home-page .post-card-header .event-title {
        font-size: 0.7em;
	}
}

.home-page .nested-post .hover-shadow {
    border: none;
	transition: none;
}

.home-page .nested-post .hover-shadow:hover, .hover-shadow:focus {
	box-shadow: none;
}

/* profile */

.profile-container {
	min-height: calc(100vh - 213px);
}

@media screen and (max-width: 576px) {
	.profile-container {
			min-height: calc(100vh - 131.23px);
	}
}

.profile-container .card-subtitle::before {
	content: '@';
}

.number-following, .number-followers {
    cursor: pointer;
}

.number-following:hover, .number-followers:hover {
    text-decoration: underline;
}

.number-following::after {
	content : ' following';
}

.number-followers::after {
	content : ' followers';
}

.card-wrapper {
	max-width: 960px;
}

.card-link {
color: #8E8E8E;
}

.card-link:hover {
color: #7ee081;
}

.card-title {
	color: #002047;
}

.qrcode {
	border: 10px solid white;
	border-radius: 2%;
}

.border-green {
border: 3px solid #7ee081!important;
}

.card-fade {
	opacity: 0.3;
	transition: opacity 0.3s ease-in-out;
}

.profile-page .card-fade:hover {
	opacity: 1;
} 

.profile-page .mytickets > .row{
	overflow-x: auto; 
	flex-wrap: nowrap;
}

#profile-picture-btn {
	top: 5%;
	right: 35%;
}

.icon-btn {
	color: #8E8E8E;
}

.icon-btn:hover {
color: #002047;
cursor: pointer;
}

#name-btn {
right: 25%;
top: 20%;
}

.author {
font-weight: bold;
}

.profile-page .ban-btn, .diss-btn {
    color: #8E8E8E;
}

.ban-btn:hover {
color: #f79156;
cursor: pointer;
}

.diss-btn:hover {
color: #7ee081;
cursor: pointer;
}

.dissed-btn {
color: #7ee081;
}

.baned-btn {
color: #f79156;
}

a:hover {
text-decoration: none;
}

.more-button {
z-index: 1;
right: 1rem;
top: 1rem;
}

.more-button > .btn {
opacity: 0.8;
}

.profile-page .upload-photo-btn {
	width: 25px;
    height: 25px;
    padding: 4px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
	background-color: var(--grey);
	color: var(--darkgrey);
	opacity: 0.4;
	cursor: pointer;
	top: 7px;
}

.profile-page .upload-photo-btn:hover {
	opacity: 0.7;
}

/*search*/
.search-page .navbar {
	background-color: transparent !important;
}

.search-page .navbar .input-group {
	opacity: 0;
}

.search-page .navbar .nav-link {
	color: #ffffff !important;
}

.search-page .navbar .btn-primary {
	background-color: #ffffff;
	border-color: #ffffff;
	color: #002047;
}

.search-page .navbar .btn-primary:hover {
	color: #ffffff;
} 

.search-page .navbar .navbar-toggler .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.search-page .navbar.stuck {
	background-color: #ffffff !important;
}

.search-page .navbar.stuck .input-group {
	opacity: 1;
}

.search-page .navbar.stuck .nav-link {
	color: #002047 !important;
}

.search-page .navbar.stuck .btn-primary {
	background-color: #002047;
	border-color: #002047;
	color: #ffffff;
}

#navbar-pic {
	width: 30px;
}

.search-page .navbar.stuck .navbar-toggler .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0,0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.search-page .navbar, .navbar.stuck, .navbar .btn-primary, .navbar.stuck .btn-primary {
	-webkit-transition: background-color 0.2s ease-in-out !important;
	-moz-transition: background-color 0.2s ease-in-out !important;
	-o-transition: background-color 0.2s ease-in-out !important;
	transition: background-color 0.2s ease-in-out !important;
}

.search-page .navbar .input-group, .navbar.stuck .input-group {
	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	-o-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
}

.search-page .navbar .nav-link, .navbar.stuck .nav-link, .navbar .btn-primary, .navbar.stuck .btn-primary {
	-webkit-transition: color 0.2s ease-in-out !important;
	-moz-transition: color 0.2s ease-in-out !important;
	-o-transition: color 0.2s ease-in-out !important;
	transition: color 0.2s ease-in-out !important;
}

.search-page .navbar .btn-primary, .navbar.stuck .btn-primary {
	-webkit-transition: border-color 0.2s ease-in-out;
	-moz-transition: border-color 0.2s ease-in-out;
	-o-transition: border-color 0.2s ease-in-out;
	transition: border-color 0.2s ease-in-out;
}

.search-page .banner-container {
	height: calc(100vh);
	position: relative;
	top: -67px;
	background-image: url('../assets/search-background.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.search-page .banner-container .slogan, .banner-container .slogan-sub {
	color: #ffffff;
}

.search-page .banner-container .search-card {
	background-color: #ffffff;
	box-shadow: 0 0 40px rgb(27,39,51);
	border-radius: 0.25rem;
}

.search-page .banner-container .search-container {
	z-index: 2;
}

.search-page .banner-container .banner-overlay {
	background-color: rgba(0, 0, 0, 0.1);
	z-index: 1;
}

@media screen and (max-width: 991px) {
	.search-page .banner-container {
			top: -57.23px;
	}
}

@media screen and (max-width: 767px) {
	.search-page .banner-container .slogan {
			font-size: 1.1em;
	}

	.search-page .banner-container .slogan-sub {
			font-size: 0.8em;
	}
}

@media screen and (max-width: 575px) {
	.search-page .banner-container .dropdown button, #results-container .dropdown button {
			font-size: 0.8em;
	}
}

.search-page .dropdownField {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search-page .dropdown-menu {
    max-height: 380px;
    overflow: auto;
    min-width: 200px;
}

.search-page .dropdown-menu .dropdown-item {
    cursor: pointer;
}

.search-page .dropdown-menu .dropdown-item.active {
    background-color: #002047;
}

.search-page #results-container {
	min-height: calc(100vh - 164px);
}

.search-page .link {
	text-decoration: none;
	color: inherit;
	display: block;
}

.search-page .link:focus, .link:hover, .link:active {
	text-decoration: none;
	color: inherit;
}

.search-page .event-card {
	border-radius: 4px;
	overflow: hidden;
}

.search-page .event-card .event-header {
	height: 150px;
	overflow: hidden;
}

.search-page .event-card .event-header .gradient-overlay {
	background: rgba(0,0,0,0.2);
	top: 0;
}

.search-page .event-card .event-header .event-title {
	bottom: 0;
	color: #ffffff;
}

.search-page .hover-shadow {
	border: 1px solid #dedede;
	transition: box-shadow 0.2s ease-in-out;
}

.search-page .hover-shadow:hover, .hover-shadow:focus {
	box-shadow:  0 0 20px rgba(27,39,51,.3);
}

.search-page .dropdown .dropdown-menu .dropdown-title {
	padding-bottom: 5px;
	border-bottom: 1px solid #dedede;
}

/*ticket*/

.ticket {
	background-color: #002047;
	color: #ffffff;
	cursor: pointer;
}

.ticket-location, .ticket-date {
	opacity: 0.7;
}

.ticket-logo {
	color: #7ee081;

}

.download-button {
	opacity: 0.7;
}

.download-button:hover {
	color: #7ee081;
	opacity: 1;
}

/** error pages */

.error-container {
	width: 100vw;
	height: calc(100vh - 117px);
}

.error-container > h1 {
	font-size: 52px;
}
.email {
	height:530px;

}

@media print {

	body {
   font: 12pt;
   line-height: 1.3;
   }
nav.navbar{
   display:none;
}

header, footer{
	   display: none;
}
   
}